<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../plugins/bootstrap-4.0.0/css/bootstrap.min.css">
    <title>页面</title>
  </head>
  <body>
    <div class="container-fluid">
	  <div class="row">
	    <div class="col-sm">
	      One of three columns
	    </div>
	    <div class="col-sm">
	      One of three columns
	    </div>
	    <div class="col-sm">
	      One of three columns
	    </div>
	  </div>
	</div>
    <script src="../plugins/jquery-2.1.4/jquery.min.js"></script>
    <script src="../plugins/proper/popper.min.js"></script>
    <script src="../plugins/bootstrap-4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>