<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>菜单资源</title>
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../plugins/font-awesome/css/fontawesome.min.css">
    <link href="../plugins/bootstrap/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="../plugins/jquery-treegrid/css/jquery.treegrid.css" rel="stylesheet"/>
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="../js/html5shiv.js"></script>
         <script src="../js/respond.min.js"></script>
    <![endif]-->
    <link href="../css/content.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<!-- 查询区 -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-inline">
					<div class="form-group">  
						<label for="name">名称</label>
						<input type="text" onchange="javascript:$('#search-btn').click();" class="form-control" id="name" placeholder="请输入名称">
						<button id="search-btn" type="button" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <div class="col-sm-6">
	            <div  id="menuToolbar">
	            	<div  class="btn-group" role="group" aria-label="...">
					  	<button id="menu-add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;增加</button>
					  	<button id="menu-edit-btn" type="button" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;编辑</button>
						<button id="menu-del-btn" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;删除</button>
					</div>
	            </div>
	            <table id="menuTable">
	
	            </table>
	        </div>
	        <div class="col-sm-6">
	            <div  id="elementToolbar">
	                <div  class="btn-group" role="group" aria-label="...">
					  	<button id="element-add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;增加</button>
					  	<button id="element-edit-btn" type="button" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp;编辑</button>
						<button id="element-del-btn" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;删除</button>
					</div>
	            </div>
	            <table id="elementTable">
	
	            </table>
	        </div>
    	</div>
	</div>
	<div id="menuDialog" class="layer-dialog">
		<div class="box-dialog">
			<div class="row">
				<div class="col-md-6">
					<input type="hidden" name="id" value=""/>
					<div class="form-group">  
						<label for="parentId">父级菜单</label>
						<input name="parentId" required  type="text" class="form-control"  placeholder="请选择父级菜单"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">  
						<label for="name">菜单</label>
						<input name="name" required  validType="length(0,10)" type="text" class="form-control"  placeholder="请输入菜单名称"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">  
						<label for="url">URL</label>
						<input name="url" type="text" class="form-control"  placeholder="请输入URL"/>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">  
						<label for="icon">图标</label>
						<input name="icon" type="text" class="form-control"  placeholder="请输入图标,来源font-awesome"/>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">  
						<label for="description">备注</label>
						<textarea name="description" class="form-control"  placeholder="备注">
						</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="elementDialog" class="layer-dialog">
		<div class="box-dialog">
			<div class="content-body">
				<div class="row">
					<div class="col-md-6">
						<input type="hidden" name="id" value=""/>
						<input type="hidden" name="menuId" value=""/>
						<div class="form-group">  
							<label for="name">名称</label>
							<input name="name" required  validType="length(0,10)" type="text" class="form-control"  placeholder="请输入资源名称"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">  
							<label for="url">URL</label>
							<input name="url" required type="text" class="form-control"  placeholder="请输入URI"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">  
							<label for="type">类型</label>
							<select  name="type" required>
								<option value="button" selected>按钮</option>
								<option value="link" >连接</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">  
							<label for="method">方法</label>
							<select  name="method" required>
								<option value="GET" selected>GET</option>
								<option value="POST" >POST</option>
								<option value="DELETE" >DELETE</option>
								<option value="PUT" >PUT</option>
							</select>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">  
							<label for="description">备注</label>
							<textarea name="description" class="form-control"  placeholder="备注">
						</textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</body>
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/bootstrap/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../plugins/jquery-treegrid/js/jquery.treegrid.min.js"></script>
<script src="../plugins/jquery-treegrid/js/jquery.treegrid.bootstrap3.js"></script>
<script src="../plugins/jquery-treegrid/extension/jquery.treegrid.extension.js"></script>
<script src="../js/json2.js"></script>
<script src="../js/util.js"></script>
<script src="../js/lch.validate.js"></script>
<script src="../js/table.js"></script>
<script src="../js/dialog.js"></script>
<script src="../js/system/menu-element-list.js?v=2"></script>
</html>
