<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>用户管理</title>
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/bootstrap/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link href="../plugins/bootstrap/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
         <script src="../js/html5shiv.js"></script>
         <script src="../js/respond.min.js"></script>
    <![endif]-->
    <link href="../css/content.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<!-- 查询区 -->
		<div class="row">
			<div class="col-md-12">
				<div  class="pull-left btn-group" role="group" aria-label="...">
				  	<button id="add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;增加</button>
				</div>
				<div class="pull-right form-inline">
					<div class="form-group">
						<label for="name">名称</label>
						<input type="text" onchange="javascript:$('#search-btn').click();" class="form-control" id="name" placeholder="请输入名称">
						<button id="search-btn" type="button" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table id="tableId"></table>
			</div>
		</div>
	</div>
	<div id="userDialog" class="layer-dialog">
		<div class="box-dialog box-dialog-step">
			<input type="hidden" name="id" value=""/>
			<ul class="box-step">
	            <li class="active">基础信息</li>
	            <li>角色分配</li>
	        </ul>
	        <div class="content-body">
				<div class="row dialog-tab">
					<div class="col-md-12">
						<div class="form-group">
							<label for="username">用户名</label>
							<input type="text" required validType="length(0,20);exists(../rest/system/user/exists,username)" class="form-control" name="username" placeholder="请输入用户名">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="password">密码</label>
							<input type="password"  class="form-control" name="password" placeholder="输入密码">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="rePassword">确认密码</label>
							<input type="password"  class="form-control" name="rePassword" placeholder="输入密码">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<label for="description">描述</label>
							<textarea type="text" class="form-control" name="description" placeholder="描述">
						</textarea>
						</div>
					</div>
				</div>
				<div id="roleSelectBox" class="select-box dialog-tab">
	            </div>
			</div>
		</div>
	</div>
	<div id="powerDialog" class="layer-dialog">
		<div class="box-dialog" style="min-width:500px;">
			<div class="content-body">
				<div class="row">
					<div class="col-md-6">
						<div id="menuTreeview"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../plugins/jquery/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/bootstrap/bootstrap-switch/js/bootstrap-switch.min.js"></script>
<script src="../plugins/bootstrap/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../js/json2.js"></script>
<script src="../js/util.js"></script>
<script src="../js/lch.validate.js"></script>
<script src="../js/table.js?v=2"></script>
<script src="../js/dialog.js"></script>
<script src="../js/select-box.js"></script>
<script src="../js/system/user-list.js?v=1"></script>
</html>
