<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JWeb</title>
    <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="plugins/font-awesome/css/font-awesome.min.css?v=1" rel="stylesheet">
    <link href="css/index.css?v=1" rel="stylesheet">
</head>
<body>
<div id="app">
    <div id="appLogo">
        <div class="menu-btn menu-btn-active">
            <i class="fa fa-th-large" onclick="logout()"></i>
        </div>
    </div>
    <div id="appHeader">
        <div class="menu-btn home">
            <i class="fa fa-home"></i>
        </div>
        <div class="tab-titles">
            <!-- 
            <div class="tab-title tab-title-active">
                <span class="title">个人信息</span>
                <i class="fa fa-remove btn-close"></i>
                <i class="fa fa-star-o btn-like"></i>
            </div>
            -->
        </div>
        <div class="search">
            <input id="menuSearch" type="text" placeholder="关键字/全拼/首字母" />
            <i class="fa fa-search btn-search"></i>
        </div>
    </div>
  	<div id="appSider">
        <div class="menu-btn menu-like" id="btnCollection">
            <i class="fa fa-star-o"></i>
            <span class="text">收藏夹</span>
        </div>
        <div class="menu-extend" id="btnMenuExtend">
            <i class="fa fa-indent"></i>
        </div>
        <!--box-collection-->
        <div id="appCollection">
            <div class="header">
                <span class="title">收藏夹</span>
                <div class="btn-edit" id="btnCollectionEdit"><i class="fa fa-edit"></i></div>
                <div class="btn-close" id="btnCollectionClose"><i class="fa fa-close"></i></div>
            </div>
            <ul class="items" id="items">
            </ul>
        </div>
    </div>
    <div id="appContent"></div>
    <div id="appFooter">CopyRight © JWeb</div>
</div>
</body>
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="js/util.js?v=2"></script>
<script src="js/index.js?v=6"></script>
</html>
