<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>虚拟机规格</title>
    <link href="../plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../plugins/bootstrap/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">
    <!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
    <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
    <link href="../css/content.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<!-- 查询区 -->
		<div class="row">
			<div class="col-md-12">
				<div  class="pull-left btn-group" role="group" aria-label="...">
					<button id="add-btn" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;增加</button>
				</div>
				<div class="pull-right form-inline">
					<div class="form-group">
						<label for="name">名称</label>
						<input type="text" onchange="javascript:$('#search-btn').click();" class="form-control" id="name" placeholder="请输入名称">
						<button id="search-btn" type="button" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table id="tableId"></table>
			</div>
		</div>
	</div>
	<div id="flavorDialog" class="layer-dialog">
		<div class="box-dialog">
			<input type="hidden" name="id" value=""/>
			<div class="content-body">
				<div class="row">
					<div class="col-md-12">
						<div class="form-group">
							<label for="name">名称</label>
							<input type="text" required validType="length(0,20)" class="form-control" name="name" placeholder="请输入名称">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="vcpus">VCPU数量</label>
							<input type="number" required name="vcpus" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="ram">内存(GB)</label>
							<input type="number" required name="ram" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="disk">根磁盘(GB)</label>
							<input type="number" required name="disk" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="ephemeral">临时磁盘(GB)</label>
							<input type="number" required name="ephemeral" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="swap">Swap磁盘(GB)</label>
							<input type="number" required name="swap" class="form-control"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="rxtxFactor">RX/TX 因子</label>
							<input type="number" required name="rxtxFactor" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="../plugins/jquery-2.1.4/jquery.min.js"></script>
<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="../plugins/bootstrap/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../js/json2.js"></script>
<script src="../js/util.js"></script>
<script src="../js/lch.validate.js"></script>
<script src="../js/table.js?v=3"></script>
<script src="../js/dialog.js"></script>
<script src="../js/busi/compute/flavor-list.js?v=1"></script>
</html>
