logging:
    config: classpath:logback-${spring.profiles.active}.xml
    level:
        com.jweb: DEBUG
    path: logs
spring:
    application:
        name: jweb
    thymeleaf:
        mode: LEGACYHTML5
        cache: false
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: GMT+8
        default-property-inclusion: NON_NULL
    datasource:
        name: test-db
        url: jdbc:sqlite:jweb.db
        username: 
        password: 
        type: org.sqlite.SQLiteDataSource
        driver-class-name: org.sqlite.JDBC

server:
  port: 8888
  
security:
  ignoredURI: /toLogin,/login,/rest/system/login/in,/error,/api/.*